body {
  width: 375px;
  background-color: #1c1a19;
  padding: 0 0;
}

.prinsipal {
  width: 375px;
  padding-left: 10px;
  margin: 0% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Crete Round', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 92px;
  background-color: #3c3a39;
  margin: -10px 0 30px -30px;
}

.color {
  color: #fff;
}

.color-dark {
  color: black;
}

.bxicon {
  padding: 35px 32px 4px 10px;
}

.name {
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin: 60px 210px 26px 20px;
}

.nameanchor {
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
}

.nameanchor:hover {
  color: blue;
}

.wilcome {
  color: #ff6b00;
  width: 327px;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
}

.ocupacion {
  color: #fff;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  font-size: 24px;
}

.parafo1 {
  color: #fff;
  font-family: 'poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 327px;
}

.s-media {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  max-width: 230px;
}

.media {
  width: 20px;
}

.ornament {
  background-image: url("pictures/Group.svg");
  background-size: cover;
  background-position: left;
  width: 120px;
  height: 270px;
  margin: 0 auto;
  margin-top: -120px;
  margin-left: 255px;
}

.middle-section {
  width: 375px;
  display: grid;
  grid-template-columns: auto;
  /* grid-template-rows: repeat(6, 550px); */
  grid-template-rows:680px 500px 500px 500px 500px 500px ;
  background-color: #fff;
}

.my-recent {
  width: 375px;
}

.recent-img {
  margin-left: 24px;
}

.recent-title {
  display: inline-block;
  border-bottom: 1px solid black;
  margin: 0 20px 0 20px;
  height: 83px;
  font-family: 'Crete Round', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 70px;
}

.recent-title2 {
  display: inline-block;
  margin: 0 20px 0 20px;
  height: 36px;
  font-family: 'Crete Round', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.contend {
  font-size: 16px;
  padding: 0 24px 0 24px;
  width: 327px;
}

.my-recent ul {
  display: flex;
  width: auto;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.my-recent li {
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  padding: 10px 12px;
  border: 1px solid  #8993a4;
  transition: 0.3s;
}
.my-recent li:hover{
  background-color:#8993a4 ;
}
.my-recent li:active{
  background-color:#3367c0d0 ;
}

.see-style {
  background-color: #ff6b00;
  text-decoration: none;
  height: 24px;
  width: 100px;
  padding: 7px 24px 6px 10px;
  color: #fff;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.see-style:hover{
  background-color: #ff6a0086;
}
.see-style:active{
  background-color: #4d4a49be;
}

.bak-image {
  display: flex;
  flex-direction: column;
  background-image: url("pictures/Img\ Placeholder\ \(1\).svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.works {
  color: #fff;
}

.works-title {
  width: 295px;
  font-size: 32px;
  font-weight: 400;
  margin: 100px 16px 0 16px;
  line-height: 44px;
}

.works-contend {
  width: 295px;
  font-size: 16px;
  margin: 0 16px 0 16px;
}

.works ul {
  display: flex;
  width: auto;
  justify-content: space-between;
  list-style-type: none;
  padding: 40px 80px 10px 40px;
}

.works li {
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(197, 192, 192, 0.3);
  padding: 10px 12px;
  border: 1px solid  #8993a4;
  transition: .3s;
}
.works li:hover{
  background-color: rgba(150, 143, 143, 0.89);
}
.works li:active{
  background-color: rgb(214, 149, 64);
}

.proyect-button {
  margin: 30px px 0 0;
  display: inline-block;
  text-align: center;
  background-color: #ff6b00;
  text-decoration: none;
  height: 24px;
  padding: 9px 24px 7px 10px;
  color: #fff;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s;
}
.proyect-button:hover{
  background-color: #ff6a0060;
}
.proyect-button:active{
  background-color: #242323de;
}

.about-title {
  font-family: 'Crete Round', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ff6b00;
  font-size: 72px;
  font-weight: 400;
}

.about-contend {
  font-family: 'Crete Round', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.about-me a {
  margin: 30px px 0 0;
  display: inline-block;
  text-align: center;
  background-color: #ff6b00;
  text-decoration: none;
  height: 24px;
  padding: 9px 24px 7px 10px;
  color: #fff;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.about-me a:hover{
  background-color: #ff6a0060;
}
.about-me a:active{
  background-color: #242323de;
}


.ornament2 {
  background-image: url("pictures/Group2.svg");
  background-size: cover;
  background-position: left;
  width: 170px;
  height: 320px;
  padding: 100px 0 0 0;
  margin-top: -120px;
  margin-left: 215px;
}
