body {
  width: 375px;
  background-color: #1c1a19;
  padding: 0 0;
}

.prinsipal {
  width: 375px;
  margin: 0% 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Crete Round', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 92px;
  background-color: #3c3a39;
  margin: -10px 0 30px -30px;
}

.color {
  color: #fff;
}

.bxicon {
  padding: 35px 32px 4px 10px;
}

.name {
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin: 60px 210px 26px 20px;
}

.nameanchor {
  color: #fff;
  text-decoration: none;
  transition: 0.6s;
}

.nameanchor:hover {
  color: blue;
}

.wilcome {
  color: #ff6b00;
  width: 327px;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
}

.ocupacion {
  color: #fff;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  font-size: 24px;
}

.parafo1 {
  color: #fff;
  font-family: 'poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 327px;
}

.s-media {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  max-width: 230px;
}

.media {
  width: 20px;
}

.ornament {
  background-image: url("pictures/Group.svg");
  background-size: cover;
  background-position: left;
  width: 120px;
  height: 270px;
  margin: 0 auto;
  margin-top: -120px;
  margin-left: 270px;
}
